*{
    /*outline: 1px red solid;*/
}
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
}

main {
    background-color: black;
}

.fa {
    display: inline-block;
    padding: 5px;

    font-size: 4rem;
    color: white;
    transition: all 1000ms ease;
}
